<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculus. For humans, by humans</title>
    <base href="/" >

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
    <script src="http://tombatossals.github.io/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />

</head>
<body>
    <div id="app"></div>
    <div id="calculus"></div>
    <script src="/static/build/bundle.js"></script>
</body>
</html>
